client/xml-resources/web-service-references/Highscore/wsdl/localhost_8080/server/Highscore.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="Highscore">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/server/Highscore?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllHighscores">
<part name="parameters" element="tns:getAllHighscores"/>
</message>
<message name="getAllHighscoresResponse">
<part name="parameters" element="tns:getAllHighscoresResponse"/>
</message>
<message name="getLimitedHighscores">
<part name="parameters" element="tns:getLimitedHighscores"/>
</message>
<message name="getLimitedHighscoresResponse">
<part name="parameters" element="tns:getLimitedHighscoresResponse"/>
</message>
<message name="AddHighscore">
<part name="parameters" element="tns:AddHighscore"/>
</message>
<message name="AddHighscoreResponse">
<part name="parameters" element="tns:AddHighscoreResponse"/>
</message>
<message name="DeleteHighscore">
<part name="parameters" element="tns:DeleteHighscore"/>
</message>
<message name="DeleteHighscoreResponse">
<part name="parameters" element="tns:DeleteHighscoreResponse"/>
</message>
<portType name="HighscoreService">
<operation name="getAllHighscores">
<input wsam:Action="http://Service/HighscoreService/getAllHighscoresRequest" message="tns:getAllHighscores"/>
<output wsam:Action="http://Service/HighscoreService/getAllHighscoresResponse" message="tns:getAllHighscoresResponse"/>
</operation>
<operation name="getLimitedHighscores">
<input wsam:Action="http://Service/HighscoreService/getLimitedHighscoresRequest" message="tns:getLimitedHighscores"/>
<output wsam:Action="http://Service/HighscoreService/getLimitedHighscoresResponse" message="tns:getLimitedHighscoresResponse"/>
</operation>
<operation name="AddHighscore">
<input wsam:Action="http://Service/HighscoreService/AddHighscoreRequest" message="tns:AddHighscore"/>
<output wsam:Action="http://Service/HighscoreService/AddHighscoreResponse" message="tns:AddHighscoreResponse"/>
</operation>
<operation name="DeleteHighscore">
<input wsam:Action="http://Service/HighscoreService/DeleteHighscoreRequest" message="tns:DeleteHighscore"/>
<output wsam:Action="http://Service/HighscoreService/DeleteHighscoreResponse" message="tns:DeleteHighscoreResponse"/>
</operation>
</portType>
<binding name="HighscoreServicePortBinding" type="tns:HighscoreService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllHighscores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLimitedHighscores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddHighscore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteHighscore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Highscore">
<port name="HighscoreServicePort" binding="tns:HighscoreServicePortBinding">
<soap:address location="http://localhost:8080/server/Highscore"/>
</port>
</service>
</definitions>