client/src/META-INF/wsdl/localhost_8080/server/Device.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="addDevice" type="tns:addDevice"/>

<xs:element name="addDeviceResponse" type="tns:addDeviceResponse"/>

<xs:element name="getAllDevices" type="tns:getAllDevices"/>

<xs:element name="getAllDevicesResponse" type="tns:getAllDevicesResponse"/>

<xs:element name="getDeviceById" type="tns:getDeviceById"/>

<xs:element name="getDeviceByIdResponse" type="tns:getDeviceByIdResponse"/>

<xs:element name="getLiveData" type="tns:getLiveData"/>

<xs:element name="getLiveDataResponse" type="tns:getLiveDataResponse"/>

<xs:element name="removeDevice" type="tns:removeDevice"/>

<xs:element name="removeDeviceResponse" type="tns:removeDeviceResponse"/>

<xs:element name="updateDevice" type="tns:updateDevice"/>

<xs:element name="updateDeviceResponse" type="tns:updateDeviceResponse"/>

<xs:element name="updateWattTotal" type="tns:updateWattTotal"/>

<xs:element name="updateWattTotalResponse" type="tns:updateWattTotalResponse"/>

<xs:complexType name="addDevice">
<xs:sequence>
<xs:element name="device" type="tns:device" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="device">
<xs:sequence>
<xs:element name="background_url" type="xs:string" minOccurs="0"/>
<xs:element name="device_url" type="xs:string" minOccurs="0"/>
<xs:element name="divide_by" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="logo_url" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="sensor" type="xs:string" minOccurs="0"/>
<xs:element name="watt_total" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDeviceResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateDevice">
<xs:sequence>
<xs:element name="device" type="tns:device" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDeviceResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateWattTotal">
<xs:sequence>
<xs:element name="deviceId" type="xs:int"/>
<xs:element name="watt" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateWattTotalResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLiveData">
<xs:sequence>
<xs:element name="deviceId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLiveDataResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeDevice">
<xs:sequence>
<xs:element name="device" type="tns:device" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeDeviceResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllDevices">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllDevicesResponse">
<xs:sequence>
<xs:element name="return" type="tns:device" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDeviceById">
<xs:sequence>
<xs:element name="deviceId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDeviceByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:device" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>