client/src/META-INF/wsdl/145.89.154.19_8080/server/Device.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="Device">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://145.89.154.19:8080/server/Device?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllDevices">
<part name="parameters" element="tns:getAllDevices"/>
</message>
<message name="getAllDevicesResponse">
<part name="parameters" element="tns:getAllDevicesResponse"/>
</message>
<message name="getDeviceById">
<part name="parameters" element="tns:getDeviceById"/>
</message>
<message name="getDeviceByIdResponse">
<part name="parameters" element="tns:getDeviceByIdResponse"/>
</message>
<message name="updateWattTotal">
<part name="parameters" element="tns:updateWattTotal"/>
</message>
<message name="updateWattTotalResponse">
<part name="parameters" element="tns:updateWattTotalResponse"/>
</message>
<message name="addDevice">
<part name="parameters" element="tns:addDevice"/>
</message>
<message name="addDeviceResponse">
<part name="parameters" element="tns:addDeviceResponse"/>
</message>
<message name="removeDevice">
<part name="parameters" element="tns:removeDevice"/>
</message>
<message name="removeDeviceResponse">
<part name="parameters" element="tns:removeDeviceResponse"/>
</message>
<message name="getLiveData">
<part name="parameters" element="tns:getLiveData"/>
</message>
<message name="getLiveDataResponse">
<part name="parameters" element="tns:getLiveDataResponse"/>
</message>
<message name="updateDevice">
<part name="parameters" element="tns:updateDevice"/>
</message>
<message name="updateDeviceResponse">
<part name="parameters" element="tns:updateDeviceResponse"/>
</message>
<portType name="DeviceService">
<operation name="getAllDevices">
<input wsam:Action="http://Service/DeviceService/getAllDevicesRequest" message="tns:getAllDevices"/>
<output wsam:Action="http://Service/DeviceService/getAllDevicesResponse" message="tns:getAllDevicesResponse"/>
</operation>
<operation name="getDeviceById">
<input wsam:Action="http://Service/DeviceService/getDeviceByIdRequest" message="tns:getDeviceById"/>
<output wsam:Action="http://Service/DeviceService/getDeviceByIdResponse" message="tns:getDeviceByIdResponse"/>
</operation>
<operation name="updateWattTotal">
<input wsam:Action="http://Service/DeviceService/updateWattTotalRequest" message="tns:updateWattTotal"/>
<output wsam:Action="http://Service/DeviceService/updateWattTotalResponse" message="tns:updateWattTotalResponse"/>
</operation>
<operation name="addDevice">
<input wsam:Action="http://Service/DeviceService/addDeviceRequest" message="tns:addDevice"/>
<output wsam:Action="http://Service/DeviceService/addDeviceResponse" message="tns:addDeviceResponse"/>
</operation>
<operation name="removeDevice">
<input wsam:Action="http://Service/DeviceService/removeDeviceRequest" message="tns:removeDevice"/>
<output wsam:Action="http://Service/DeviceService/removeDeviceResponse" message="tns:removeDeviceResponse"/>
</operation>
<operation name="getLiveData">
<input wsam:Action="http://Service/DeviceService/getLiveDataRequest" message="tns:getLiveData"/>
<output wsam:Action="http://Service/DeviceService/getLiveDataResponse" message="tns:getLiveDataResponse"/>
</operation>
<operation name="updateDevice">
<input wsam:Action="http://Service/DeviceService/updateDeviceRequest" message="tns:updateDevice"/>
<output wsam:Action="http://Service/DeviceService/updateDeviceResponse" message="tns:updateDeviceResponse"/>
</operation>
</portType>
<binding name="DeviceServicePortBinding" type="tns:DeviceService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllDevices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDeviceById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateWattTotal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDevice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeDevice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLiveData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDevice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Device">
<port name="DeviceServicePort" binding="tns:DeviceServicePortBinding">
<soap:address location="http://145.89.154.19:8080/server/Device"/>
</port>
</service>
</definitions>